@model LoginModel

@{
    Layout = null;
}
<title>DJ Valeting Admin</title>

<link href="~/adminContent/style/my.css" rel="stylesheet" />
<link href="~/adminContent/style/bootstrap-spacelab.css" rel="stylesheet" />
<link href="~/adminContent/style/bootstrap-responsive.css" rel="stylesheet" />
<link href="~/adminContent/style/charisma-app.css" rel="stylesheet" />
<link href="~/adminContent/style/opa-icons.css" rel="stylesheet" />
<link href="~/adminContent/style/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
<link href="~/adminContent/scripts/chosen/chosen.css" rel="stylesheet" />
<link href="~/adminContent/style/chosen.css" rel="stylesheet" />
<link href="~/adminContent/style/modal-video.min.css" rel="stylesheet">
<link href="~/adminContent/scripts/ckeditor/samples/css/samples.css" rel="stylesheet" />
<script src="~/adminContent/scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="~/adminContent/scripts/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
<script src="~/adminContent/scripts/charisma.js" type="text/javascript"></script>

<div class="container-fluid">
    <div class="row-fluid" style="text-align: center;">
        <div class="row-fluid" style="margin-bottom: 50px;">
            <div class="span12 center login-header">
                <h2>Admin Panel</h2>
            </div>
        </div>
        <div class="row-fluid">

            <div class="well span5 center login-box">

                @Html.Partial("~/Areas/Admin/Views/Shared/_ErrorPartial.cshtml")

                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Email</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Email, new { @style = "height:25px;" })
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Password</label>
                            <div class="controls">
                                @Html.PasswordFor(model => model.Password, new { @style = "height:25px;" })
                            </div>
                        </div>
                        <div class="form-actions" style="padding: 13px -1px 18px;">
                            <button type="submit" class="btn btn-small btn-primary" style="width: 25%; font-size: 14px;">Enter</button>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>

<script src="~/adminContent/scripts/bootstrap-alert.js" type="text/javascript"></script>
<script src="~/adminContent/scripts/bootstrap-button.js" type="text/javascript"></script>
<script src="~/adminContent/scripts/chosen/chosen.jquery.min.js"></script>
<script src="~/adminContent/scripts/jquery.chosen.min.js" type="text/javascript"></script>
<script src="~/adminContent/scripts/bootstrap-dropdown.js" type="text/javascript"></script>
<script src="~/adminContent/scripts/jquery-modal-video.min.js" type="text/javascript"></script>